{{ form_start(form) }}
    <input type="hidden" name="user_id" value="{{ user_id }}">
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
