{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
   
        <div class="mb-3">
            {{ form_label(form.nomCategorie, 'Nom de la catégorie', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nomCategorie, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nomCategorie, {'attr': {'class': 'invalid-feedback'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description, {'attr': {'class': 'invalid-feedback'}}) }}
        </div>


        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_categorie_index') }}">back to list</a>
{% endblock %}