{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block body %}
    <h1>Créer un nouveau nom de cours</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_nom_cours_index') }}">Retour à la liste</a>
{% endblock %}
=======
{% block title %}New NomCours{% endblock %}

{% block body %}
    <h1>Create new NomCours</h1>

    {{ include('nom_cours/_form.html.twig') }}

    <a href="{{ path('app_nom_cours_index') }}">back to list</a>
{% endblock %}
>>>>>>> gestionforum1
