{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
        
                <th>TypeAchat</th>
            
                
                <th>DateAchat</th>
                <th>Datefin</th>
                <th>Satus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.titre }}</td>
                <td>{{ cour.description }}</td>
                <td>{{ cour.prix }}</td>
              
                <td>{{ cour.typeAchat }}</td>
               
                
                <td>{{ cour.dateAchat ? cour.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.datefin ? cour.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ cour.satus }}</td>
                <td>
                    <a href="{{ path('app_cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cours_new') }}">Create new</a>
{% endblock %}
